.slideshow-section{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:150vh;
    box-sizing:border-box;
    overflow:hidden;
}

.slideshow-container{
    width:80vh;
    height:60vh;
    position: relative;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 5px; 
}

.slide{
    display:none;
    width:100%;
    height:100%;
    overflow:hidden;
    justify-content:center;
    align-items:center;
}
.slideshow_img{
    width:80vh;
    height:60vh;
    object-fit:cover;
}
.fade{
    animation:fade 2s ease-in-out infinite;
}
.no_space{
    margin-top:0;
    margin-bottom:0;
}

@keyframes fade{
    from{
        opacity:0.4;
    }
    to{
        opacity:1;
    }
}
@media screen and (max-width: 600px){
    .slideshow-container{
        width:50vh;
        height:30vh;
    }
}